



/*Header*/
header {
    padding: 2.5em 0 0.5em;
    margin: 0 0 2.0em;
}



/*nav bar*/
nav {
    color: #000;
    font-size: 1.7em;
    letter-spacing: 0.04em;
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    }
    nav li {
        display: inline-block;
        margin: 0;
    }

/* body */

body { 
    background-image: url("..//StoreAppStarter-master/StoreAppStarter-master/img/230x170/background\ 2\ pizza.jpg"); 
    background-position: center; 
    background-size: 25% 25%; 
    
} 

h1 {
    color: #2BA967;
    font-size: 4.0em;
    margin: 0.5em 0 0.5em 0;
    padding: 0;
}
h2 {
    color:peachpuff;
    font-size: 1.7em;
    padding: 0px;
    margin: 0.5em 0 0.35em 0;
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #555;
    padding: 0px;
    margin: 0px 0.5em 0.75em 0px;
}
.contentWrapper {display:table-row;
    position: absolute;
  top: 20px;
  right: 20px; }
/* Main Section*/
#main {
    padding: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: -10px;
   }
  
   .panel {
    display: flex;
    flex-flow: column nowrap;
    align-content: center; 
    justify-content: center;
    margin: 10px;
    flex-basis: 100%;
    max-width: 500px;
 }
 @media(min-width: 750px) {
   .panel {
    
     flex-basis: calc(100% / 2 - 20px);
   }
 }
 @media(min-width: 1000px) {
   .panel {
    flex-basis: calc(100% / 3 - 20px);
   }
 }
   .panel > img {

    max-height: 400px;
    width: 100%;
    border-radius: 25px;
   }


/*footer*/






.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    text-align: center;}
  
  
  .tab button:hover {
    background-color: rgb(163, 161, 161); 
}
  
  
  .tab button.active {
    background-color: #ccc; 
}
  
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none; 
}


